<% provide(:title, "Home") %>

<div class="jumbotron">
	<div class="container">
		<h1>Craigslist Scraper</h1>
		<h3>Find what you're looking for</h3>
		<% if !logged_in? %>
		
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">Sign up</button>

			<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#login-modal">Log in</button>

			<%= form_for @user do |f| %>
				<%= render partial: 'users/user_form.html.erb', locals: { f: f} %>
			<% end %>

			<%= form_for(:session, url: login_path) do |f| %>
				<%= render partial: 'sessions/session.html.erb', locals: { f: f} %>
			<% end %>
		<% else %>
			<%= button_to 'Go forth!', user_path(current_user), class: "btn btn-primary btn-lg", method: :get %>
		<% end %>
	</div>
</div>
