<% provide(:title, "Log In") %>
<div class="login">
	<div class="login-center">
		<h1 class="heading">Log In</h1>
		<div class="login-form">
			<%= form_for(:session, url: login_path) do |f| %>
				<%= f.label "email" %><br>
				<%= f.email_field "email" %><br>

				<%= f.label "password" %><br>
				<%= f.password_field "password" %><br>

				<%= f.submit "Log in" %><br>
			<% end %>
		</div>
		New User? <%= link_to "Sign up", signup_path %>
	</div>
</div>