<% provide(:title, "Sign Up") %>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
	<ul>
		<li><%= f.label :email %>
		<%= f.email_field :email %></li>

		<li><%= f.label :password %>
		<%= f.password_field :password %></li>

		<li><%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %></li>

		<li><%= f.submit "Sign up" %></li>
	</ul>
<% end %>