<% provide(:title, @search.title.titleize) %>

<div class="head">
	<h1 class="heading"> <%= @search.title.titleize %> </h1>
	<h2 class="subheading"> <%= @search.city.name.titleize %> </h3>
</div>
<div class="hits content">
	<div class="links">
		<%= link_to "Refresh Hits", user_search_update_hits_path(current_user.id, @search.id), method: :post %>
		<%= link_to "Edit", edit_user_search_path(current_user.id, @search.id) %>
		<%= link_to "Back to Searches", user_path(current_user) %>
	</div>
	<table>
		<thead>
			<th>Title</th>
			<th>Price</th>
			<th>Location</th>
		</thead>
		<%= render partial: 'hits/hit', collection: @search.hits %>
	</table>
</div>
