<header>
	<div class="container">
	<%= link_to "CLSCRPR", root_path, id: "logo" %>
		<nav>
			<ul>
				<% if logged_in? %>
					<li><%= link_to "Searches", user_path(current_user) %></li>
					<li><%= link_to "Log out", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
			</ul>
		</nav>
	</div>
</header>