<nav class="navbar navbar-default">
	<div class="container-fluid">
		<%= link_to "Craigslist Scraper", root_path, class: "navbar-brand" %>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home", root_path %></li>
			<% if logged_in? %>
				<li><%= link_to "Searches", user_path(current_user) %></li>
				<li><%= link_to "Log out", logout_path, method: :delete %> - 
				<%= @current_user.email %></li>
			<% else %>
				<li><%= link_to "Log in", login_path %></li>
			<% end %>
		</ul>
	</div>
</nav>